@import '../style/vars';

.listWrapper {
  padding: 1rem 0;
}

.list {
  list-style: none;
}

/**
  .item
    .meta
      .itemTitle  |  .extra
      .itemDescription
*/

// TODO:
// 中文字体 与 英文字体有差别，在中文版需要适当按比例缩小字体
.item {
  position: relative;
  // font-size: 0.875rem;
}

.meta {
  position: relative;
}

.itemTitle {
  margin: 0;
  font-size: 1rem;
  // color: @theme-primary-color;
  color: @sub-title-color;
}

/** time or ... */
.extra {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  color: #9e9e9e;
}

.itemDescription {
  font-size: 0.8rem;
  font-style: italic;
  // font-weight: 500;
  color: @gray1;
}
