@import './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 100%/1.625em '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  // TODO: 修改中文版 base font size.
  font-size: @base-font-size;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: @text-color;
  background: @body-bg-color;
  line-height: 1.5;
  // EN body font size: 17px
  // CH body font size: 15px
  font-size: 0.85rem;
  font-weight: normal;
  font-family: @sans-serif;
  word-wrap: break-word;
  border-top: 0.3rem solid @pigeon-red;
  padding: 30px;
}

a {
  text-decoration: none;
  color: @link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
}

// h1,
// h2 {
//   padding-bottom: 0.3em;
//   border-bottom: 1px solid @hr-color;
// }

// h1 {
//   font-size: 4em;
//   line-height: 1.2;
// }
// h2 {
//   font-size: 1.75em;
//   line-height: 1.225;
// }
// h3 {
//   font-size: 1.5em;
//   line-height: 1.43;
// }
// h4 {
//   font-size: 1.25em;
// }
// h5 {
//   font-size: 1em;
// }
// h6 {
//   font-size: 1em;
//   color: #777;
// }

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

hr {
  height: 4px;
  height: 1px;
  padding: 0;
  margin: 1rem 0;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
  border-bottom: 1px solid @hr-color;
}

@media print {
  html {
    font-size: 13px;
  }
  body {
    border: 0;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
  .wrapper {
    border-top: 1.2rem solid @pigeon-red;
    border-bottom: 1.2rem solid @black;
  }
}
