@import '../style/vars';

each(range(4), {
  .col-@{value} {
    height: (@value * 50px);
  }
});

@grayList: #212121 #333 #414141 #616161 #9e9e9e #bdbdbd;

each(@grayList, {
  .h@{index} {
    font-weight: 600;
    font-size: 0.75rem + 1 * (1 / @index);
    margin: 0;
    margin-top: 0.85714em;
    margin-bottom: 0.57142em;
    color: @value;
  }
});

.h1, .h2 {
  padding-bottom: 0.3em;
  // border-bottom: 1px solid @hr-color;
}

.sectionHeading {
  color: @theme-primary-color;
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: @theme-primary-color;
    position: absolute;
    top: 0;
    left: 0;

  }
}
